.card
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.card:hover
{
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header
{
    background-color: rgba(122, 155, 247, 0.89); 
    height: 80px;
}

.card-heading
{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.card_img
{
    height: 150px;
}

.type
{
    background-color: rgb(150, 61, 34);
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 18px;
}
  
.type:hover
{
    background-color:  rgb(97, 39, 22);
    font-weight: 300;
    padding: 7px;
}

#capture
{
    text-align: center;
    margin-top: 10px;
    outline: none;
    width: 500px;
    margin-left: 30%;
    font-size: 20px;
    border: none;
    border-radius: 5rem;
    background-color: rgb(150, 61, 34);
}

#capture:hover
{
    background-color: rgb(97, 39, 22);
    padding: 5px;
    font-weight: 500;
    outline: none;
}

.date-place
{
    background-color: rgb(241, 79, 30);
    color: white;
    border-radius: 5rem;
    text-align: center;
}

.contents
{
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
}

.facilitator
{
    color: rgb(238,48,48);
    font-style: italic;
    font-size: 15px;
    margin-top: 5px;
}

.foot
{
    background-color: rgba(55, 103, 236, 0.89); 
}

.time
{
    text-align: center;
    color: white;
}

.link
{
    border-radius: 3rem;
    width: 60%;
    background-color: rgb(238,48,48);
    outline: none;
    border: none;
    color: white;
    margin-top: 10px;
    margin-left: 40px;
}

.link:hover
{
    background-color: rgb(250, 14, 14);
    font-weight: 500;
}

.error
{
    text-align: center;
    font-size: 30px;
}

#redirect
{
    text-decoration: none;
    color: rgb(65, 212, 65);
    font-weight: 500;
}

#redirect:hover
{
    font-weight: 700;
    font-size: 32px;
    color: rgb(0, 155, 0)
}

@media only screen and (max-width: 400px) {
    .error {
      font-size:20px;
    }
  }