<div class="bg-img">
  <div class="row">
    <div class="content col-xl-8 offset-xl-2 col-lg-8 offset-2">
      <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-8 offset-2">
          <h1>Learning Calendar</h1>
          <br><br>
        </div>
      </div>
      <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-xl-8 offset-xl-0 col-lg-8 offset-lg-0">
            <input id="fileupload" type="file" (change)="onFileSelected($event)" hidden="hidden" #fileInput/> 
            <button type="button" id="uploadbtn" (click)="fileInput.click()">Select File</button>
            <span id="filename">{{content}}</span>
        </div>
        <div class="col-xl-3 col-lg-3">
            <button type="button" id="submit" routerLink = '/welcome'> Submit </button>
        </div>
      </form>
    </div>
  </div>
</div>